<!-- راس الصفحة -->
<!-- <nav class="navbar bg-info text-white"> -->
<nav class="navbar  text-white"> <!-- تغيير لون الشريط العلوي إلى الرمادي -->

  <div class="container-fluid justify-content-center justify-content-md-between">
    <a class="navbar-brand fw-medium fs-3 mb-1 mb-md-0 text-white"> <!-- تغيير النص إلى اللون الأبيض لتناسب مع الخلفية الرمادية -->
      <!-- مصنع المعدن الأبيض<sup>1</sup>. --> <!-- تغيير النص إلى اللغة العربية -->
    </a>

    <form action="/search" method="post" class="d-flex" role="search">
      <input
        name="searchText"
        class="form-control me-2"
        type="search"
        placeholder="بحث"
        aria-label="بحث"
      />
      <button class="btn btn-outline-light" type="submit"> <!-- تغيير لون الزر إلى اللون الأبيض -->
        بحث
      </button>
    </form>
  </div>
</nav>
